@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@400;700&display=swap");
:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  --Font-size: 15px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: white;
  display: flex;
  justify-content: center;
}
.main {
  min-height: 100vh;
  display: flex;

  align-items: center;
}
.container {
  max-width: 900px;
  display: flex;
}
.box1 {
  background-color: var(--Bright-orange);
  padding: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.box2 {
  background-color: var(--Dark-cyan);
  padding: 40px;
}
.box3 {
  background-color: var(--Very-dark-cyan);
  padding: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
h1 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}
p {
  font-size: 12px;
  line-height: 24px;
  font-family: "Lexend Deca", sans-serif;
  opacity: 70%;
  padding-bottom: 50px;
}
button {
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  border: 2px solid white;
  border-radius: 30px;
  font-family: "Lexend Deca", sans-serif;
}
.b1 {
  color: var(--Bright-orange);
  transition: 0.3s;
}
.b2 {
  color: var(--Dark-cyan);
  transition: 0.3s;
}
.b3 {
  color: var(--Very-dark-cyan);
  transition: 0.3s;
}
.b1:hover {
  background-color: var(--Bright-orange);
  cursor: pointer;
  color: white;
}
.b2:hover {
  background-color: var(--Dark-cyan);
  cursor: pointer;
  color: white;
}
.b3:hover {
  background-color: var(--Very-dark-cyan);
  cursor: pointer;
  color: white;
}
@media screen and (max-width: 600px) {
  .container {
    max-width: 500px;
    flex-direction: column;
  }
}
